<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email</title>
</head>
<body>
    <H1>Welcome to dev pro !!</H1>
    <p>A group of artisans who love to work in core php.</p>
    <H5>Members</H5>
    <table>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Hashmat Ali</td>
            <td>syedhashnaqvi@gmail.com</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Hayat Ali</td>
            <td>alihayat@gmail.com</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Hassan Zahid</td>
            <td>hassanisavailable@gmail.com</td>
        </tr>
    </table>

    <small>This is a system generated email please donot reply.</small>
</body>
</html>